<!doctype html>
<html lang="fi">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="theme-color" content="#00A5E5" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>Säätutka</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div id="header-title" class="d-flex flex-column align-items-center p-3 bg-white border-bottom shadow-sm">
            <h4 class="app-title">Säätutka</h4>
        </div>
        <div id="main-content">
            <div class="d-flex justify-content-center">
                <div id="app">
                    <select class="form-control" v-model="selectedCity">
                        <option v-for="option in selectOptions.slice().reverse()" v-bind:value="option.value">
                            {{ option.text }}
                          </option>
                    </select>
                    <div v-for="city in filteredCityList">
                        <div class="city-content">
                            <div class="content-card p-3 p-sm-4">
                                <div class="d-flex justify-content-between">
                                    <div class="align-self-center">
                                        <h4 class="weather-city-text no-margin">{{ city.cityname }}</h4>
                                        <p class="weather-description-text no-margin capitalizetext">{{ city.currentWeather.description }}</p>
                                    </div>
                                    <div class="d-flex align-self-end">
                                        <div class="align-self-start">
                                            <image class="large-weather-icon" v-bind:src="city.currentWeather.icon"></image>
                                        </div>
                                        <div class="align-self-center">
                                            <h1 class="weather-temperature-text">{{ city.currentWeather.temp }}&degC</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div class="align-self-end">
                                        <p class="weather-date-text no-margin capitalizetext">{{ city.currentWeather.month }}&nbsp;{{ city.currentWeather.day }}</p>
                                        <p class="weather-time-text no-margin">{{ city.currentWeather.clock }}</p>
                                    </div>
                                    <div class="align-self-start">
                                        <p class="weather-other-text no-margin">Kosteus:&nbsp;{{ city.currentWeather.humidity }}%</p>
                                        <p class="weather-other-text no-margin">Tuuli:&nbsp;{{ city.currentWeather.windspeed }}&nbsp;m/s</p>
                                        <p class="weather-other-text no-margin">Sademäärä:&nbsp;{{ (city.currentWeather.precipitation) ? city.currentWeather.precipitation : 0 }}&nbsp;mm</p>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div v-for="forecast in city.forecasts" class="forecast-card content-card">
                                    <div class="forecast-card-body justify-content-center">
                                        <p class="medium-forecast-text">{{ forecast.clock }}</p>
                                        <image class="small-weather-icon" v-bind:src="forecast.icon"></image>
                                        <p class="big-forecast-text">{{ forecast.temp }}&degC</p>
                                    </div>
                                    <div class="forecast-card-footer justify-content-center">
                                        <p class="small-forecast-text text-muted">{{ forecast.windspeed }}&nbspm/s</p>
                                        <p class="small-forecast-text text-muted">{{ forecast.humidity }}%</p>
                                        <p class="small-forecast-text text-muted">{{ (forecast.precipitation) ? forecast.precipitation : 0 }}&nbspmm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/jquery/jquery.min.js"></script>
        <script src="/vue/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script type="text/javascript" src="./js/main.js"></script>
    </body>
</html>